body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./stackedBG.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.form {
    background-image: url('./Form.svg');
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 17/10;
    min-height: 0;
    height: 85vh;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    height: 90%;
    width: 62.5%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr; /* One column, full width for the top child */
    grid-template-rows: 12.5% 1fr; /* Auto height for the top child, and the rest split in halves */
    gap: 5px;
}
.grid-item-row{
    grid-column: 1 / -1; /* Span full width (from the first column to the last) */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-item-row h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-item-column{
    padding: 10px;
}
.left{
}
.input-form-header{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input-form-content{
    display: flex;
    justify-content: center;
    height: 60%;
    
}
.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input{
    width: 80%;
    display: flex;
    justify-content: center;
}