
.headerOne {
    color: salmon;
    font-family: 'Kiak';
    src: url(../fonts/Kiak-Bold.otf);
    display: flex;
    justify-content: center;
    padding: 10px;
    max-width: 500px;
    font-size: 80px;
}

.input-form-content{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    height: 20%;
    
}

.form-control{
    display: flex;
    justify-content:center;
}

.grid-item-row {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* .grid-item-column{
    padding: 10px;
    height: 200px;
    max-width: 100%;
}

.grid-item-row h1{
    font-family: 'Kiak';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background: linear-gradient(-45deg, #00bfff, #cc33ff, #ff0000, #ff33cc, #00bfff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Border around texts */
  .text-container {
    border: 2px solid white;
    padding: 10px;
  }
