@font-face {
    font-family: 'Kiak';
    src: url(../fonts/modern_sans_serif_7.ttf);
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/stackedBG.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -5;
}
/* .form {
    background-image: url('../images/Form.svg');
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 17/10;
    min-height: 0;
    height: 95vh;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.logout-btn {
    position: fixed;
    top: 20px; /* Adjust the top value to control the vertical position */
    left: 27.5px; /* Adjust the left value to control the horizontal position */
    z-index: 9999; /* Set a high z-index to ensure the button appears above other elements */
    max-width: 75px;
  }
/* SVG / Background Start */

.svg-container{
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
    z-index: 1;
    width: auto;
    height: 95%;

}
.center-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90%;
    width: 50%;
    margin-bottom: 50px;
}

/* SVG / Background End */

/* Grid / Content Start */

.chart-container{
    margin-top: 5%;
    position: relative;
    z-index: 2;
    height: 97.5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr 1fr .35fr;
    grid-template-areas:
    "toprow toprow"
    "columnleft columnright"
    "bottomrow bottomrow";
    grid-gap: 0.5rem;
}
#toprow{
  grid-area: toprow;
  display: flex;
  justify-content: center;
  align-items: center
}
#toprow h1{
    font-size: 65px;
    text-align: center;
}

/* SEARCH CONTAINER SECTION START */
#columnright h3{
    font-family: 'Kiak';
    font-size: 30px;
}
h1{
    font-family: 'Kiak';
    font-size: xx-large;
    font-weight: 500;
}
#columnleft{
  grid-area: columnleft;
  
}
.input-form-header{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input-form-content{
    display: flex;
    justify-content: center;
    height: 20%;
    
}
.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input{
    width: 80%;
    display: flex;
    justify-content: center;
}
.recent-searches-wrapper{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
}
.recent-searches-container {
    height: fit-content;
    width: 90%; /* Set the width to 90% */
    max-height: 90%;
    display: flex; /* Add this to use flexbox */
    flex-direction: column; /* Stack the items vertically */
    justify-content: flex-start; /* Align items to start from the top */
    align-items: center; /* Center the items horizontally */
}

.recent-search {
    background-color: #645858;
    color: white;
    border-radius: 5px;
    padding: 7.5px;
    margin: 0.5%; /* Adjust the margin to create spacing between the items */
    font-size: small;
    width: 70%; /* Set the width to 90% */
 
    text-align: center;
}
.recent-search:hover {
    opacity: 80%;
    transition: 0.5s;
    cursor: pointer;
}
.clear-btn-wrapper{
    margin-top: 2.75%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.clear-btn{
    width: 70%;
    height: 7.5%;
}
/* SEARCH CONTAINER SECTION END */

/* PIE CHART SECTION START */
#columnright{
  grid-area: columnright;
}
.pie-chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.5%;
}
.recharts-responsive-container {
    width: 450px !important;
    height: 400px !important;
    display: flex;
    font-family: 'Kiak';
    src: url(../fonts/modern_sans_serif_7.ttf);
}

.recharts-surface {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;

}
/* PIE CHART SECTION END */

/* TWEET SECTION START */
#bottomrow{
    grid-area: bottomrow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.relevant-tweets-container{
    width: auto;
    grid-column: 1 / -1; /* Span full width (from the first column to the last) */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    text-align: left;
}
.tweet{
    background-color: white;
    border: 1px solid #ccc;
    width: 80%;
    min-height: 50%;
    max-height: 100%;
    padding: 10px;
    display: flex;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}
.name{
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}
.handle{
    color: #8899a6;
    font-size: 13px;
}
.time{
    padding-left: 0.3em;
    color: #8899a6;
}
.time::before {
    content: '\00b7  ';
    padding-right: 0.3em;
}
.buttons{
    margin-top: 10px;
    margin-left: 37.5px;
    font-size: 1.4em;
    color: #aab8c2;
    display: inline-grid;
    grid-template-columns: repeat(4, 75px);
    gap: 35px;
}
.buttons i{
    flex: 1;
    width: 20%;
    margin-right: 20%;
}
.icon{
    padding: 5%;
}
.icon:hover{
    cursor: pointer;
}
.spacer{
    height: 100px;
}
/* TWEET SECTION END */



/* MEDIA QUERIES START */

@media only screen and (max-height:850px){
    .svg-container{
        height: 105%;
        width: 200%;
    }
}
@media only screen and (max-height:800px){
    .svg-container{
        height: 120%;
        width: 200%;
    }
}
@media only screen and (max-height:750px){
    .svg-container{
        height: 150%;
        width: 200%;
    }
}
@media only screen and (max-width:1550px){
    .wrapper{
        height: 90%;
        width: 60%;
    }
}
@media only screen and (max-width:1250px){
    .wrapper{
        width: 70%;
    }
}
@media only screen and (max-width:1050px){
    .chart-container{
        width: 90vw;
        grid-template-columns: 1.8fr;
        grid-template-rows: .25fr .45fr 1.5fr .5fr;
        grid-template-areas:
        "toprow"
        "columnleft" 
        "columnright"
        "bottomrow";
    }
    svg{
        height: 100%;
    }
    .wrapper{
        height: 97.5%;
        width: 87.5%;
    }
    .recent-searches-container{
        min-height: 150px;
    }
}

/* MEDIA QUERIES END */